/*! Main content */

.content a { text-decoration: underline; }
.content a.submit { font-weight: 700; text-decoration: none; margin: 1.5em 0; }
.content .title h1 { margin-bottom: 0.75em; }
.content h2 { font-size: 1.5em; color: #f1c55a; }
