/*! Footer styles */
.site-footer {
    color: $color-footer;
    background-color:  $color-footer-bg;
    font-size: 0.95em;
    padding: 70px 0;

    p, ul, ol {
        font-size: 0.95em;
    }
}

.facebook-box {
    iframe {
        width: 100%;
    }
}

.social {
    padding: 0;

    &.horizontal {
        li {
            display: inline-block;

            a {
                margin: 0 5px;
                padding: 5px;
            }

            &:first-child {
                a {
                    margin-left: 0;
                    padding-left: 0;
                }
            }

            &:last-child {
                a {
                    margin-right: 0;
                    padding-right: 0;
                }
            }
        }
    }
}

.f-title {
    color: #fff;
    font-size: 1.1em;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.f-logo {
    img {
        max-width: 200px;
    }
}

.f-col {    
    ul,
    ol {
        padding: 0;

        li {
            line-height: 30px;
            
            a {
                color: $color-footer;
                transition: all 0.2s;

                &:hover {
                    color: $color-primary;
                    margin-left: 4px;
                }
            }
        }

        &.social {
            li {
                a {
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}

ul,
ol {
    &.social {
        li {
            a {
                color: $color-primary;

                &:hover {
                    color: #fff;
                }
            }
        }
    }
}

.copyright {
    text-align: center;
    padding-top: 80px;

    p {
        margin: 0;
    }
}

#site-options {
    position: fixed;
    right: 20px;
    bottom: 50%;
    z-index: 88;
    transition: all 0.3s;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.3);
    
    .option-item {
        color: #fff;
        width: 50px;
        height: 50px;
        line-height: 50px;
        display: inline-block;
        text-align: center;
        transition: all 0.6s;
        background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    }

    #fullscreen {
        &::before {
            content: "\f065";
            font-family: FontAwesome;
            transition: all 0.6s;
        }

        &.open {
            &::before {
                content: "\f066";
            }
        }
    }
}

#back-top {
    color: #fff;
    background: $color-secondary none repeat scroll 0 0;
    font-size: 20px;
    text-align: center;
    display: none;
    width: 40px;
    height: 40px;
    padding-top: 6px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 99;
    transition: 0.3s;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.3);

    &:hover {
        background: $color-primary
    }
}

.preeloader {
    background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 9999999;
    right: 0;
    top: 0;
    bottom: 0;
}

.preloader-spinner {
    display: block;
    height: 60px;
    left: 50%;
    margin: -30px 0 0 -30px;
    position: fixed;
    top: 50%;
    width: 60px;
    z-index: 10;

    img {
        max-width: 100%;
        height: auto;
    }
}
