/* Colors */
$color-body: #333;
$color-body-bg: #fff;
$color-header: #fff;
$color-header-bg: #4491bb;
$color-footer: #333;
$color-footer-bg: #3A3A4F;
$color-primary: #f1c55a;
$color-secondary: #4491bb;
$color-border: #ebebeb;
