/* Colors */
$color-body: #333;
$color-body-bg: #fff;
$color-header: #fff;
$color-header-bg: #4491bb;
$color-footer: rgba(255, 255, 255, 0.8);
$color-footer-bg: rgba(31, 31, 34, 0.9);
$color-primary: #f1c55a;
$color-secondary: #4491bb;
$color-border: #ebebeb;
