@charset "utf-8";

/* CSS Re-set */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
/* End CSS Re-set */

/* Content Grid */
section { width: 100%; padding: 3.5em 0; }
.row { width: 90%; margin: 0 auto; }

.colCount2 .colSpan1 { width: 100%; margin: 0; float: none; }
.colCount2 .colSpan2 { width: 100%; }

.colCount3 .colSpan1, .colCount3 .colSpan2 { width: 100%; margin: 0; float: none; }
.colCount3 .colSpan3 { width: 100%; }

.colCount4 .colSpan1 { width: 48%; margin: 0 4% 0 0; }
.colCount4 .colSpan2, .colCount4 .colSpan4Mobile { width: 100%; margin: 0; float: none; }

.colCount4 .row .colSpan1, .colCount3 .row .colSpan1 { width: 100%; margin: 0; }
.colCount4 .colCount2 .colSpan2Small { width: 100%; float: none; }

.colCount5 .colSpan1 { width: 100%; margin: 0; float: none; }

.colCount6 .colSpan2, .colCount6 .colSpan6Small, .colCount6 .colSpan6Mobile, .colCount6 .colSpan3Small, .colCount6 .colSpan3 { width: 100%; margin: 0; float: none; }
/*.colCount6 .colSpan2Small { width: 14.75%; margin: 0 0 4% 0; float: none; }*/

.colCount8 .colSpan1, .colCount12 .colSpan1 { width: 48%; margin: 0 4% 0 0; }

.colCount2 .last, .colCount3 .last, .colCount4 .last, .colCount5 .last, .colCount6 .last, .colCount8 .last, .colCount12 .last, .colCount6 .smallLast, .colCount8 .smallLast, .colCount12 .smallLast, .colCount4 .mobileLast, .colCount8 .mobileLast, .colCount12 .mobileLast { margin-right: 0; }

.last h2 { margin-top: 1em; }

.row .row { width: 100%; clear: both; }
/* End Content Grid */

/* Main Typography */
.content h2 { margin: 1em 0 0.5em; }
.content h3 { margin: 1em 0 -0.25em; }
.content h4 { margin: 1.25em 0 -0.5em; }

.content h2 + ul, .content h3 + ul, .content h4 + ul { padding: 0 0 0 1.25em; }
.content ul { list-style-type: disc; padding: 0 0 0 2.25em; }
.content ol { list-style-type: decimal-leading-zero; padding: 0 0 0 1.75em; }
.content ul li, .content ol li { margin-bottom: 0.25em; }
.content ul li:last-child, .content ol li:last-child { margin-bottom: 0; }

.content ol .embeddedList { padding: 0 0 0 1em; list-style-type: lower-alpha; }
.content ul .embeddedList { padding: 0 0 0 1em; list-style-type: circle; }

.content h2:first-child, .content h3:first-child, .content h4:first-child, .content p:first-child, .content ul:first-child, .content ol:first-child, .content table:first-child { margin-top: 0; }
.content p:last-child, .content ul:last-child, .content ol:last-child, .content table:last-child, .content a.submit:last-child { margin-bottom: 0; }
/* End Main Typography */